/*
* @Author: leesipeng
* @Date:   2017-02-24 11:47:56
* @Last Modified by:   leesipeng
* @Last Modified time: 2017-02-24 21:57:42
*/
body {
    font-family: "微软雅黑";
}
.container {
    width: 652px;
    height: 400px;
    /* background: #d8fffd; */
    margin: 50px auto;
    padding: 20px;
}
.container div {
    margin-right: 8px;
}
.container .con-left {
    float: left;
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid #dedede;
}
.container .con-left-point {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 2px;
    height: 2px;
    // background-color: rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,.5);
    z-index: 99;
}
.container .con-left-mark {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../image/colors.png) no-repeat -320px 0px;
}
.container .con-left-color {
    width: 100%;
    height: 100%;
    background-image:-webkit-linear-gradient(to right, #ffffff, #ff0000);
    background-image: linear-gradient(to right, #ffffff, #ff0000);
}
.container .con-center {
    float: left;
    width: 20px;
    height: 400px;
    position: relative;
    border: 1px solid #dedede;
    background-image:-webkit-linear-gradient(to bottom, #ff0000, #ff00ff,#0000ff,#00ffff,#00ff00,#ffff00,#ff0000);
    background-image:linear-gradient(to bottom, #ff0000, #ff00ff,#0000ff,#00ffff,#00ff00,#ffff00,#ff0000);
}

.container .con-center .center-point {
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.7);
    box-sizing: border-box;
}


.container .con-right {
    float: left;
    width: 180px;
    height: 380px;
    /* border: 1px solid #dedede; */
    margin-right: 0;
    padding: 10px;
}
.input-item {
    width: 100%;
    height: 190px;
    position: relative;
    margin-bottom: 12px;
    /* background: #ccc; */
}
.input-item .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #999;
}
.input-item div {
    margin-bottom: 10px;
}
.input-item div span {
    display: inline-block;
    width: 20px;
    font-size: 20px;
    margin-right: 10px;
}
.input-item div input {

    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    border: 1px solid #dedede;
    padding-left: 30px;
}
