/*模块颜色*/
$bgcolor-green : #32b16c;       //绿色

$bgcolor-green-deep : #2b985d; //深绿色

$bgcolor-white : #fff;          //白色

$bgcolor-grey : #f5f5f5;       //灰色

$bgcolor-default : #bdbdbd;    //银灰色

/* border颜色 */

$border-color-grey : #ddd;    //分割线颜色-深灰色
$border-color-black : #333;    //分割线颜色-纯黑色

/*文字颜色*/
$color-white : #fff;           //白色

$color-black : #212121;        //黑色

$color-black-light : #757575; //淡黑色

$color-grey : #757575;         //灰色

$color-grey-light : #ddd;      //淡灰色

$color-green : #32b16c;        //绿色

$color-red : #ff3b30;          //红色

$color-blue : #007aff;          //蓝色

$bubble-blue:#C1E7F5;           //消息气泡的蓝色

$price-red:#FF2500;            //金额的红色

$color-black87 : rgba(0,0,0,0.87);         //黑色
$color-black54 : rgba(0,0,0,0.54);         //灰色

